@font-face {
    src: url("../fonts/Alegreya-Regular.woff2");
    font-family: "Alegreya";
}

@font-face {
    src: url("../fonts/Alegreya-Medium.woff2");
    font-family: "Alegreya";
    font-weight: 500;
}

@font-face {
    src: url("../fonts/Alegreya-Bold.woff2");
    font-family: "Alegreya";
    font-weight: bold;
}

/******************************************************************************
 * General style.                                                             * 
 ******************************************************************************/

.sab.sheet.actor,
.sab.sheet.item {
    min-height: 480px;
    min-width: 480px;
}

.sab .window-content {
    background-color: #f5f5f5;
    background-image: none;
}

.sab .editor {
    height: 100%;
}

/******************************************************************************
 * Character sheet grid.                                                      * 
 ******************************************************************************/

.charater-sheet-grid {
    display: grid;
    gap: 8px;
    grid-template-columns: 140px 1fr 1fr;
    grid-template-rows: 140px 112px 1fr;
    height: 100%;
}

.character-sheet-section-name {
    grid-column-start: 2;
    grid-column-end: 4;

    display: grid;
    column-gap: 8px;
    row-gap: 2px;
    grid-template-rows: 46px 24px 66px;
    grid-template-columns: 1fr 1fr;
}

.character-sheet-section-buttons {
    display: grid;
    row-gap: 2px;
    grid-template-rows: 36px 36px 36px;
}

.character-sheet-section-buttons button {
    height: 36px;
}

.character-sheet-section-abilities {
    display: grid;
    row-gap: 2px;
    grid-template-rows: 36px 36px 36px;
}

.character-sheet-section-others {
    display: grid;
    row-gap: 2px;
    grid-template-rows: 55px 55px;
}

.character-sheet-section-tabs {
    grid-column-start: 1;
    grid-column-end: 4;

    display: grid;
    grid-template-rows: 36px 1fr;
}

/******************************************************************************
 * Container sheet grid.                                                      * 
 ******************************************************************************/

.container-sheet-grid {
    display: grid;
    gap: 8px;
    grid-template-columns: 140px 1fr 1fr;
    grid-template-rows: 140px 1fr;
    height: 100%;
}

/******************************************************************************
 * Item sheet grid.                                                           * 
 ******************************************************************************/

.item-sheet-grid {
    display: grid;
    column-gap: 8px;
    row-gap: 8px;
    grid-template-columns: 140px 1fr 1fr;
    grid-template-rows: 46px 36px 36px 36px 36px 36px 1fr;
    height: 100%;
}

.item-sheet-section-portrait {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 7;
}

.item-sheet-section-name {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}

.item-sheet-section-tabs {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 7;
    grid-row-end: 7;

    display: grid;
    grid-template-rows: 36px 1fr;
}

/******************************************************************************
 * Portrait and name section.                                                 * 
 ******************************************************************************/

.portrait {
    border: 2px solid black;
    border-radius: 5px;
    height: 140px;
    width: 100%;
    object-fit: contain;
}

.name-input {
    grid-column-start: 1;
    grid-column-end: 3;

    background: black !important;
    border: none !important;
    color: #f5f5f5 !important;
    font-family: "Alegreya", Times, "Times New Roman", Georgia, serif !important;
    font-size: 23px !important;
    font-variant: small-caps;
    font-weight: 500;
    padding: 8px !important;
    height: 100% !important;
}

.background-input {
    grid-column-start: 1;
    grid-column-end: 3;

    background: none !important;
    border: none !important;
    font-family: "Alegreya", Times, "Times New Roman", Georgia, serif !important;
    font-size: 17px !important;
    font-variant: small-caps;
    height: 100% !important;
}

/******************************************************************************
 * Generic resources counters style.                                          * 
 ******************************************************************************/

.resource-counter {
    border: 2px solid black;
    border-radius: 5px;
    display: flex;
    height: 36px;
}

.resource-counter a,
.resource-counter label {
    background-color: black;
    color: #f5f5f5;
    font-family: "Alegreya", Times, "Times New Roman", Georgia, serif;
    font-size: 17px;
    font-weight: 500;
    line-height: 32px;
    text-align: center;
}

.resource-input-wrapper {
    display: flex;
}

.resource-input-wrapper input {
    background: none !important;
    border: none !important;
    margin: auto;
    text-align: center !important;
    width: 100%;
}

.resource-input-wrapper input:focus {
    box-shadow: none;
}

.resource-input-wrapper span {
    margin: auto;
    text-align: center;
}

/******************************************************************************
 * Stacked resources counters style.                                          * 
 ******************************************************************************/

.stacked-counter {
    flex-direction: column;
    height: auto;
}

.stacked-input-wrapper {
    display: flex;
    line-height: 19px;
}

.stacked-input-wrapper input {
    background: none !important;
    border: none !important;
    margin: auto;
    text-align: center !important;
    height: 19px !important;
    width: 100%;
}

.stacked-input-wrapper input:focus {
    box-shadow: none;
}

.stacked-input-wrapper span {
    margin: auto;
    text-align: center;
}

/******************************************************************************
 * Specific resources counters style.                                         * 
 ******************************************************************************/

.hp-counter label,
.slots-counter label,
.STR-counter a,
.DEX-counter a,
.WIL-counter a {
    width: 50%;
}

.hp-counter .resource-input-wrapper,
.slots-counter .resource-input-wrapper,
.STR-counter .resource-input-wrapper,
.DEX-counter .resource-input-wrapper,
.WIL-counter .resource-input-wrapper {
    width: 50%;
}

.long-counter label {
    width: 70%;
}

.long-counter .resource-input-wrapper {
    width: 30%;
}

.hp-counter,
.deprived-counter,
.slots-counter {
    align-self: end;
}

.STR-counter {
    border-radius: 5px 5px 0 0;
}

.DEX-counter {
    border-radius: 0;
}

.WIL-counter {
    border-radius: 0 0 5px 5px;
}

/******************************************************************************
 * Tabs.                                                                      * 
 ******************************************************************************/

.sab .tabs {
    display: flex;
}

.sab .tabs a {
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    flex-grow: 1;
    font-family: "Alegreya", Times, "Times New Roman", Georgia, serif;
    font-size: 17px;
    font-weight: bold;
    line-height: 32px;
}

.sab .tab {
    height: 100%;
}

/******************************************************************************
 * Items list.                                                                * 
 ******************************************************************************/

.sab-items-list-header {
    border-bottom: 1px solid #b5b3a4;
    display: flex;
    font-family: "Alegreya", Times, "Times New Roman", Georgia, serif !important;
    font-weight: bold;
    justify-content: space-between;
    line-height: 36px;
    height: 36px;
}

.sab-items-list-header .end{
    margin-left: auto;
}

.sab-items-list-row {
    border-bottom: 1px solid #b5b3a4;
}

.sab-items-list-row-header {
    display: flex;
    justify-content: space-between;
}

.sab-item-name-and-tags {
    display: flex;
    line-height: 26px;
    height: 26px;
    gap: 4px;
}

.sab-item-tag {
    align-self: center;
    background: rgba(0, 0, 0, 0.05);
    border: 1px solid #999;
    border-radius: 3px;
    display: inline-block;
    font-size: 10px;
    line-height: 16px;
    padding: 0 3px;
    height: 18px;
}

.sab-item-uses i {
  font-size: 10px;
}

.sab-item-controls {
    display: flex;
    height: 26px;
}

.sab-item-controls a {
    text-align: center;
    width: 18px;
}

.sab-item-name-and-tags .fas,
.sab-item-controls .fas {
    line-height: 26px;
}

.item-toggle-equipped {
  color: var(--color-text-dark-inactive);
}

.item-toggle-equipped.equipped {
  color: var(--color-text-dark-primary);
}

.crit-dmg.long-counter label {
    width: 40%;
}

.crit-dmg.long-counter .resource-input-wrapper {
    width: 60%;
}

.weapon.item-sheet-grid{
    grid-template-rows: 46px 36px 36px 36px 36px 1fr;
}
.weapon.item-sheet-grid .item-sheet-section-tabs{
    grid-row-start: 6;
    grid-row-end: 6;
}


.spellbook.item-sheet-grid,
.armor.item-sheet-grid{
    grid-template-rows: 46px 36px 36px 36px 1fr;
}
.spellbook.item-sheet-grid .item-sheet-section-tabs,
.armor.item-sheet-grid .item-sheet-section-tabs{
    grid-row-start: 5;
    grid-row-end: 5;
}

/******************************************************************************
 * Chat message.                                                                *
 ******************************************************************************/

.chat-message .flavor-dice-roll{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.chat-message .icon-action{
    margin-left: auto;
}
