/******************************************************************************
 * General style.                                                             * 
 ******************************************************************************/

.cairn.sheet.actor,
.cairn.sheet.item {
    min-height: 580px;
    min-width: 600px;
}

.cairn .window-content {
    background-color: #f5f5f5;
    background-image: none;
}

.cairn .editor {
    height: 100%;
}

.cairn .editor-content {
    padding: 0 8px;
}

/******************************************************************************
 * Character sheet grid.                                                      * 
 ******************************************************************************/

.charater-sheet-grid {
    display: grid;
    column-gap: 8px;
    row-gap: 8px;
    grid-template-columns: 140px 1fr 140px 140px;
    grid-template-rows: 72px 180px 1fr;
    height: 100%;
}

.character-sheet-section-portrait {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;

    display: grid;
    row-gap: 2px;
    grid-template-rows: 140px 36px 36px 36px;
}

.character-sheet-section-name {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;

    display: grid;
    row-gap: 2px;
    grid-template-rows: 46px 24px;
}

.character-sheet-section-abilities {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;

    display: grid;
    row-gap: 2px;
    grid-template-rows: 36px 36px 36px 36px;
}

.character-sheet-section-gold {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;

    display: grid;
    row-gap: 2px;
    grid-template-rows: 140px 36px;
}

.character-sheet-section-deprived {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;

    display: grid;
    row-gap: 2px;
    grid-template-rows: 140px 36px;
}

.character-sheet-section-tabs {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;

    display: grid;
    grid-template-rows: 36px 1fr;
}

/******************************************************************************
 * Item sheet grid.                                                           * 
 ******************************************************************************/

 .item-sheet-grid {
    display: grid;
    column-gap: 8px;
    row-gap: 8px;
    grid-template-columns: 140px 140px 140px 140px;
    grid-template-rows: 46px 36px 36px 36px 1fr;
    height: 100%;
}

.item-sheet-section-portrait {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 5;
}

.item-sheet-section-name {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
}

.item-sheet-section-tabs {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 5;
    grid-row-end: 6;

    display: grid;
    grid-template-rows: 36px 1fr;
}

/******************************************************************************
 * Portrait and abilities section.                                            * 
 ******************************************************************************/

.name-input {
    background: black !important;
    border: none !important;
    color: white !important;
    font-family: "Alegreya", Times, "Times New Roman", Georgia, serif !important;
    font-variant: small-caps;
    font-size: 23px !important;
    font-weight: bold;
    padding: 8px !important;
    height: 100% !important;
}

.background-input {
    background: none !important;
    border: none !important;
    font-family: "Alegreya", Times, "Times New Roman", Georgia, serif !important;
    font-variant: small-caps;
    font-size: 17px !important;
    height: 100% !important;
}

.portrait {
    border: 2px solid black;
    border-radius: 5px 5px 0 0;
    width: 100%;
    height: 140px;
}

.resource-counter {
    border: 2px solid black;
    display: flex;
}

.STR-counter {
    border-radius: 5px 5px 0 0;
}

.armor-counter,
.gold-counter,
.deprived-counter {
    border-radius: 0 0 5px 5px;
}

.resource-label,
.large-resource-label {
    background-color: black;
    color: #f5f5f5;
    font-family: "Alegreya", Times, "Times New Roman", Georgia, serif;
    font-size: 17px;
    font-weight: bold;
    line-height: 32px;
    text-align: center;
}

.resource-label {
    width: 50%;
}

.large-resource-label {
    width: 70%;
}

.resource-input-wrapper,
.small-resource-input-wrapper {
    display: flex;
    line-height: 32px;
}

.resource-input-wrapper {
    width: 50%;
}

.small-resource-input-wrapper {
    width: 30%;
}

.resource-input-wrapper input,
.small-resource-input-wrapper input {
    background: none !important;
    border: none !important;
    margin: auto;
    text-align: center !important;
    height: 32px !important;
    width: 100%;
}

.resource-input-wrapper input:focus,
.small-resource-input-wrapper input:focus {
    box-shadow: none;
}

.resource-input-wrapper span,
.small-resource-input-wrapper span {
    margin: auto;
    text-align: center;
}

/******************************************************************************
 * Tabs.                                                                      * 
 ******************************************************************************/

.cairn .tabs {
    display: flex;
}

.cairn .tabs a {
    border-left: 1px solid black;
    border-top: 2px solid black;
    border-right: 1px solid black;
    font-family: "Alegreya", Times, "Times New Roman", Georgia, serif;
    font-size: 17px;
    font-weight: bold;
    line-height: 32px;
    flex-grow: 1;
}

.cairn .tabs a:first-child {
    border-left: 2px solid black;
    border-right: 1px solid black;
    border-radius: 5px 0 0 0;
}

.cairn .tabs a:last-child {
    border-left: 1px solid black;
    border-right: 2px solid black;
    border-radius: 0 5px 0 0;
}

.cairn .tabs a:not(.active) {
    border-bottom: 2px solid black;
}

.cairn .tab {
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    border-radius: 0 0 5px 5px;
    height: 100%;
}

/******************************************************************************
 * Items list.                                                                * 
 ******************************************************************************/

 .item-header {
    border-bottom: 1px solid #b5b3a4;
    display: flex;
    font-family: "Alegreya", Times, "Times New Roman", Georgia, serif !important;
    font-weight: bold;
    justify-content: space-between;
    padding: 0 8px;
    line-height: 36px;
    height: 36px;
 }

 .item-row {
    border-bottom: 1px solid #b5b3a4;
    display: flex;
    justify-content: space-between;
    padding: 0 8px;
    line-height: 26px;
    height: 26px;
 }

.item-infos {
    display: flex;
}

 .item-info {
    align-self: center;
    background: rgba(0, 0, 0, 0.05);
    border: 1px solid #999;
    border-radius: 3px;
    display: inline-block;
    font-size: 10px;
    line-height: 16px;
    padding: 0 3px;
    height: 18px;
 }