<form class="custom-dialog">
  <div class="form-group">
    <label>{{localize 'CAIRN.Name'}}:</label>
    <input
      type="text"
      name="itemname"
      value=""
      placeholder="{{localize 'CAIRN.Name'}}"
      data-dtype="String"
    />
  </div>
  <div class="form-group">
    <label>{{localize 'CAIRN.Slots'}}:</label>
    <input
      type="number"
      name="itemslots"
      value="3"
      placeholder="{{localize 'CAIRN.Slots'}}"
      data-dtype="Number"
    />
  </div>
</form>