<form class="sab" autocomplete="off">
    <div class="charater-sheet-grid">
        <!-- Portrait -->
        <img class="portrait" src="{{data.img}}" data-edit="img" title="{{data.name}}" />
        <!-- Name, background, HP and deprived -->
        <div class="character-sheet-section-name">
            <input class="name-input" type="text" name="name" value="{{data.name}}" placeholder="{{ localize 'SAB.Name' }}" />
            <input class="background-input" type="text" name="system.background" value="{{data.system.background}}"
                placeholder="{{ localize 'SAB.Background' }}" />
            <div class="resource-counter hp-counter">
                <label for="system.hp.value">{{ localize 'SAB.HitProtection' }}</label>
                <div class="resource-input-wrapper">
                    <input type="text" name="system.hp.value" id="system.hp.value"
                           value="{{data.system.hp.value}}" data-dtype="Number" />
                    <span> / </span>
                    <input type="text" name="system.hp.max" value="{{data.system.hp.max}}" data-dtype="Number" />
                </div>
            </div>
            <div class="resource-counter long-counter deprived-counter">
                <label for="system.deprived">{{ localize 'SAB.Deprived' }}</label>
                <div class="resource-input-wrapper">
                    <input type="checkbox" {{checked data.system.deprived}} name="system.deprived" id="system.deprived"
                        value="{{data.system.deprived}}" data-dtype="Boolean" />
                </div>
            </div>
        </div>
        <!-- Buttons -->
        <div class="character-sheet-section-buttons">
            <button id="rest-button" type="button" {{#if data.system.deprived}}disabled{{/if}}>{{ localize 'SAB.Rest' }}</button>
            <button id="restore-abilities-button" type="button" {{#if data.system.deprived}}disabled{{/if}}>{{ localize 'SAB.RestoreAbilities' }}</button>
            <button id="die-of-fate-button" type="button">{{ localize 'SAB.DieOfFate' }}</button>
        </div>
        <!-- Abilities -->
        <div class="character-sheet-section-abilities">
            {{#each data.system.abilities as |ability key|}}
            <div class="resource-counter {{key}}-counter">
                <a class="resource-roll" for="system.abilities.{{key}}.value" data-roll="d20cs<=@abilities.{{key}}.value"
                    data-label="{{{ localize 'SAB.Save' key=key}}}">{{ localize key }}</a>
                <div class="resource-input-wrapper">
                    <input type="text" name="system.abilities.{{key}}.value" value="{{ability.value}}"
                        data-dtype="Number" />
                    <span> / </span>
                    <input type="text" name="system.abilities.{{key}}.max" value="{{ability.max}}" data-dtype="Number" />
                </div>
            </div>
            {{/each}}
        </div>
        <!-- Armor and gold -->
        <div class="character-sheet-section-others">
            <div class="resource-counter stacked-counter">
                <label>{{ localize 'SAB.Armor' }}</label>
                <div class="stacked-input-wrapper">
                    <span>{{data.system.armor}}</span>
                </div>
            </div>
            <div class="resource-counter stacked-counter">
                <label for="system.gold">{{ localize 'SAB.Gold' }}</label>
                <div class="stacked-input-wrapper">
                    <input type="text" name="system.gold" id="system.gold" value="{{data.system.gold}}" data-dtype="Number" />
                </div>
            </div>
        </div>
        <div class="character-sheet-section-tabs">
            <nav class="tabs" data-group="primary">
                <a class="item" data-group="primary" data-tab="items">{{ localize 'SAB.Items' }} ({{data.system.slotsUsed}} / 10)</a>
                <a class="item" data-group="primary" data-tab="description">{{ localize 'SAB.Description' }}</a>
                <a class="item" data-group="primary" data-tab="notes">{{ localize 'SAB.Notes' }}</a>
            </nav>
            <section class="content">
                <div class="tab" data-group="primary" data-tab="items">
                    {{> "systems/sab/templates/parts/items-list.html" withFatigue=1}}
                </div>
                <div class="tab" data-group="primary" data-tab="description">
                    {{ editor data.system.biography target="system.biography" button=true owner=owner
                    editable=editable }}
                </div>
                <div class="tab" data-group="primary" data-tab="notes">
                    {{ editor data.system.notes target="system.notes" button=true owner=owner editable=editable }}
                </div>
            </section>
        </div>
    </div>
</form>
