<form
    class="{{cssClass}} flexcol actor-sheet character-sheet"
    autocomplete="off">
    {{!-- Sheet Header --}}
    <header class="sheet-header">
        <div class="portrait flexcol">
            <img
            class="profile-img"
            src="{{actor.img}}"
            data-edit="img"
            title="{{actor.name}}"
            height="150"
            width="150"
            />
            <div class="flexrow resource hp">
                <label
                    for="data.hp.value"
                    class="resource-label">HP
                </label>
                <div class="resource-content flexrow flex-center flex-between">
                    <input
                    type="text"
                    name="data.hp.value"
                    value="{{data.data.hp.value}}"
                    data-dtype="Number"
                    />
                    <span> / </span>
                    <input
                    type="text"
                    name="data.hp.max"
                    value="{{data.data.hp.max}}"
                    data-dtype="Number"/>
                </div>
            </div>
              <span class="tooltip">
                  <button
                    style="width: 150px;"
                    type="button"
                    title="Rest"
                    {{#if data.data.deprived }}
                      disabled
                    {{/if }}
                    class="rest">Rest
                  </button>

                  <button style="
                  width: 150px;"
                  type="button"
                  {{#if data.data.deprived }}
                    disabled
                  {{/if }}
                  title="Rest"
                  class="restore">Restore Abilities
                  </button>

                  {{#if data.data.deprived }}
                    <span class="tooltiptext">Cannot rest or restore abilities while deprived</span>
                  {{/if }}
              </span>
        </div>
        <div class="header-fields">
            <h1 class="charname">
            <input
            name="name"
            type="text"
            value="{{actor.name}}"
            placeholder="Name"/>
            </h1>
            <h2 class="background">
            <input
            name="data.background"
            type="text"
            value="{{data.data.background}}"
            placeholder="Background"/>
            </h2>
            <div class="">
                <div class="grid grid-3col resource flexrow flex-group-center">
                    <div class="flexcol">
                        {{#each data.data.abilities as |ability key|}}
                        <div class="flexrow">
                            <label
                                for="data.abilities.{{key}}.value"
                                class="resource-label rollable-ability"
                                data-roll="d20cs<=@abilities.{{key}}.value"
                                data-label="{{key}} save">
                                {{key}} <i class="fas fa-dice-d20"></i>
                            </label>
                            <div class="flexrow">
                                <input
                                type="text"
                                name="data.abilities.{{key}}.value"
                                value="{{ability.value}}"
                                data-dtype="Number"
                                /> <span> / </span>
                                <input
                                type="text"
                                name="data.abilities.{{key}}.max"
                                value="{{ability.max}}"
                                data-dtype="Number"
                                />
                            </div>
                        </div>
                        {{/each}}
                        <div class="flexrow">
                            <label
                                for="data.armor"
                            class="resource-label">Armor</label>
                            <div class="resource-content flexrow flex-center flex-between">
                                <span>
                                    {{data.data.armor}}
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="flexcol">
                        <div class="stat">
                            <img src="systems/cairn/tokens/extra/gold-piece.webp" />
                        </div>
                        <div class="flexrow">
                            <label
                                for="data.gold"
                            class="resource-label">gold</label>
                            <div class="resource-content flexrow flex-center flex-between">
                                <input
                                type="text"
                                name="data.gold"
                                value="{{data.data.gold}}"
                                data-dtype="Number"
                                />
                            </div>
                        </div>
                    </div>
                    <div class="flexcol">
                        <div class="stat">
                            <img src="systems/cairn/tokens/extra/fatigue-alt.webp" />
                        </div>
                        <div class="flexrow">
                            <label class="resource-label">Deprived</label>
                            <div class="resource-content flexrow flex-center flex-between">
                                <input
                                class="checkbox-block"
                                type="checkbox"
                                {{checked
                                data.data.deprived}}
                                name="data.deprived"
                                value="{{data.data.deprived}}"
                                data-dtype="Boolean"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    {{!-- Sheet Tab Navigation --}}
    <div>
        <nav class="sheet-tabs" data-group="primary">
            <a {{#if data.data.encumbered}} style="color: red" {{/if}} data-tab="items">
                Items ({{data.data.slotsUsed}} | 10)
            </a>
            <a data-tab="description">Description</a>
            <a data-tab="notes">Notes</a>
        </nav>
    </div>
    {{!-- Sheet Body --}}
    <section class="sheet-body">
        {{!-- Owned Items Tab --}}
        <div
            class="tab items"
            data-group="primary"
            data-tab="items">
            <ol class="items-list">
                <li class="item flexrow item-header">
                    <div class="item-name">Name <i>(bold means equipped)</i></div>
                    <div class="item-controls">
                        <a
                            class="item-control item-create"
                            title="Create item"
                            data-type="item">
                            <i class="fas fa-plus"></i>
                            Add item
                        </a>
                    </div>
                </li>
                {{#each actor.items as |item id|}}
                <li
                    class="item flexrow"
                    data-item-id="{{item.id}}">
                    <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24" /></div>
                    <span>
                        <!-- <span class="item-name item-edit" id="item-{{item.id}}"> -->
                        <span class="item-name" id="item-{{item.id}}">
                            {{#if item.data.data.equipped}}
                            <i class="fas fa-hand-paper"></i>
                            {{/if}}
                            {{item.data.data.quantity}}
                            {{#boldIf item.data.data.equipped}}
                            {{item.name}}
                            {{/boldIf}}
                        </span>
                        <!-- <span class="item-info">{{item.data.slots}} Slots </span> -->
                        {{#if item.data.data.blast}}
                        <span class="item-info">BLAST</span>
                        {{/if}}
                        {{#if item.data.data.armor}}
                        <span class="item-info">Armor {{item.data.data.armor}}</span>
                        {{/if}}
                        {{#if item.data.data.damageFormula}}
                        <span class="item-info">{{item.data.data.damageFormula}} damage</span>
                        {{/if}}
                        {{#if item.data.data.bulky}}
                        <span class="item-info">Bulky</span>
                        {{/if}}
                        {{#if item.data.data.criticalDamage}}
                        <span class="item-info">Crit</span>
                        {{/if}}
                    </span>
                    <div class="item-controls">
                        {{#if item.data.data.equipped}}
                            {{#if item.data.data.damageFormula}}
                                <span
                                    class="rollable"
                                    data-label="damage with {{item.name}}"
                                    data-roll="{{item.data.data.damageFormula}}"
                                    title="Roll Damage">
                                    <i class="fas fa-dice-d20"></i>
                                </span>
                            {{/if}}
                        {{/if}}
                        <a
                            class="item-control item-edit"
                        title="Edit Item"><i class="fas fa-edit"></i></a>
                        <a
                            class="item-control item-delete"
                        title="Delete One Item"><i class="fas fa-trash"></i></a>
                    </div>
                </li>
                <li class="" style="margin-left: 5px; display: none;" id="item-description-{{item.id}}">
                  <span>
                    {{{item.data.data.description}}}
                  </span>
                </li>
                {{/each}}
            </ol>
        </div>
                {{!-- Biography Tab --}}
        <div
            class="tab biography"
            data-group="primary"
            data-tab="description">
            {{
            editor
            content=data.data.biography
            target="data.biography"
            button=true
            owner=owner
            editable=editable
            }}
        </div>
                {{!-- Notes Tab --}}
        <div
            class="tab biography"
            data-group="primary"
            data-tab="notes">
            {{
            editor
            content=data.data.notes
            target="data.notes"
            button=true
            owner=owner
            editable=editable
            }}
        </div>
    </section>
</form>
