<form
    class="{{cssClass}} flexcol actor-sheet npc-sheet"
    autocomplete="off">
    {{!-- Sheet Header --}}
    <header class="sheet-header" style="margin-bottom: -10px">

        <div class="portrait flexcol">
            <img
            class="profile-img"
            src="{{actor.img}}"
            data-edit="img"
            title="{{actor.name}}"
            height="150"
            width="150"
            />
        </div>

        <div class="header-fields">
            <h1 class="charname">
            <input
            name="name"
            type="text"
            value="{{actor.name}}"
            placeholder="Name"/>
            </h1>
            <div class="">
                <div class="grid grid-3col resource flexrow flex-group-center">
                        {{#each data.data.abilities as |ability key|}}
                          <div class="flexcol">
                              <div class="flexrow">
                                  <label
                                      for="data.abilities.{{key}}.value"
                                      class="resource-label rollable-ability"
                                      data-roll="d20cs<=@abilities.{{key}}.value"
                                      data-label="{{key}} save">
                                      {{key}} <i class="fas fa-dice-d20"></i>
                                  </label>
                                  <div class="flexrow">
                                      <input
                                      type="text"
                                      name="data.abilities.{{key}}.value"
                                      value="{{ability.value}}"
                                      data-dtype="Number"
                                      /> <span> / </span>
                                      <input
                                      type="text"
                                      name="data.abilities.{{key}}.max"
                                      value="{{ability.max}}"
                                      data-dtype="Number"
                                      />
                                  </div>
                              </div>
                          </div>
                        {{/each}}
                </div>

                <div class="grid grid-3col resource flexrow flex-group-center">
                    <div class="flexcol">
                        <div class="flexrow">
                            <label for="data.armor" class="resource-label">Armor</label>
                            <div class="resource-content flexrow flex-center flex-between">
                                <span>
                                  <input
                                  type="text"
                                  name="data.armor"
                                  value="{{data.data.armor}}"
                                  data-dtype="Number"
                                  />
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="flexcol">
                      <div class="flexrow resource hp">
                        <label
                            for="data.hp.value"
                            class="resource-label">HP
                        </label>
                            <div class="resource-content flexrow flex-center flex-between">
                                <input
                                type="text"
                                name="data.hp.value"
                                value="{{data.data.hp.value}}"
                                data-dtype="Number"
                                />
                                <span> / </span>
                                <input
                                type="text"
                                name="data.hp.max"
                                value="{{data.data.hp.max}}"
                                data-dtype="Number"/>
                            </div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </header>
    {{!-- Sheet Tab Navigation --}}
    <div class="sheet-tabs-container">
        <nav
            class="sheet-tabs tabs"
            data-group="primary">
            <a
                class="item"
                {{#if data.data.encumbered}}
                style="color: red"
                {{/if}}
            data-tab="items">Items</a>
            <a
                class="item"
            data-tab="description">Description</a>
        </nav>
    </div>
    {{!-- Sheet Body --}}
    <section class="sheet-body">
        {{!-- Owned Items Tab --}}
        <div
            class="tab items"
            data-group="primary"
            data-tab="items">
            <ol class="items-list">
                <li class="item flexrow item-header">
                    <div class="item-name">Name</div>
                    <div class="item-controls">
                        <a
                            class="item-control item-create"
                            title="Create item"
                            data-type="item">
                            <i class="fas fa-plus"></i>
                            Add item
                        </a>
                    </div>
                </li>
                {{#each actor.items as |item id|}}
                <li
                    class="item flexrow"
                    data-item-id="{{item.id}}">
                    <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24" /></div>
                    <span>
                        <span class="item-name item-edit">
                            {{#if item.data.data.equipped}}
                            <i class="fas fa-hand-paper"></i>
                            {{/if}}
                            {{item.data.data.quantity}}
                            {{#boldIf item.data.data.equipped}}
                            {{item.name}}
                            {{/boldIf}}
                        </span>
                        <!-- <span class="item-info">{{item.data.slots}} Slots </span> -->
                        {{#if item.data.data.blast}}
                        <span class="item-info">BLAST</span>
                        {{/if}}
                        {{#if item.data.data.armor}}
                        <span class="item-info">Armor {{item.data.data.armor}}</span>
                        {{/if}}
                        {{#if item.data.data.damageFormula}}
                        <span class="item-info">{{item.data.data.damageFormula}} damage</span>
                        {{/if}}
                        {{#if item.data.data.bulky}}
                        <span class="item-info">Bulky</span>
                        {{/if}}
                        {{#if item.data.data.criticalDamage}}
                        <span class="item-info">Crit</span>
                        {{/if}}
                    </span>
                    <div class="item-controls">
                        {{#if item.data.data.equipped}}
                            {{#if item.data.data.damageFormula}}
                                <span
                                    class="rollable"
                                    data-label="damage with {{item.name}}"
                                    data-roll="{{item.data.data.damageFormula}}"
                                    title="Roll Damage">
                                    <i class="fas fa-dice-d20"></i>
                                </span>
                            {{/if}}
                        {{/if}}
                        <a
                            class="item-control item-edit"
                        title="Edit Item"><i class="fas fa-edit"></i></a>
                        <a
                            class="item-control item-delete"
                        title="Delete One Item"><i class="fas fa-trash"></i></a>
                    </div>
                </li>
                {{/each}}
            </ol>
        </div>
                {{!-- Biography Tab --}}
        <div
            class="tab biography"
            data-group="primary"
            data-tab="description">
            {{
              editor
              content=data.data.description
              target="data.description"
              button=true
              owner=owner
              editable=editable
            }}
        </div>
    </section>
</form>
