<form
    class="{{cssClass}} item-sheet armor-sheet"
    autocomplete="off">
    <header class="sheet-header">
        <img
            class="profile-img"
            src="{{item.img}}"
            data-edit="img"
            title="{{item.name}}"/>
        <div class="header-fields">
            <h1 class="charname"><input
                name="name"
                type="text"
                value="{{item.name}}"
                placeholder="Name"/></h1>
            <div class="grid grid-2col" style="margin-bottom: 0px">
                <div class="resource flex-group-center">
                    <label class="resource-label" style="text-align: center">Bulky</label>
                    <input
                        class="checkbox-block"
                        type="checkbox"
                        {{checked
                        data.data.bulky}}
                        name="data.bulky"
                        style="display: inline"
                        value="{{data.data.bulky}}"
                        data-dtype="Boolean"/>
                </div>
                <div class="resource flex-group-center">
                    <label class="resource-label" style="text-align: center">Equipped</label>
                    <input
                        class="checkbox-block"
                        type="checkbox"
                        {{checked
                        data.data.equipped}}
                        name="data.equipped"
                        style="display: inline"
                        value="{{data.data.equipped}}"
                        data-dtype="Boolean"/>
                </div>
            </div>
          </div>
        </div>
    </header>

    <div class="grid grid-3col">
        <div class="resource flex-group-center">
            <label class="resource-label" style="text-align: center">Quantity</label>
            <input
                type="text"
                name="data.quantity"
                value="{{data.data.quantity}}"
                data-dtype="Number"/>
        </div>
        <div class="resource flex-group-center">
            <label class="resource-label" style="text-align: center">Slots</label>
            <input
                type="text"
                name="data.slots"
                value="{{data.data.slots}}"
                placeholder=0
                data-dtype="Number"/>
        </div>
        <div class="resource flex-group-center">
            <label class="resource-label" style="text-align: center">Armor</label>
            <input
                type="text"
                name="data.armor"
                value="{{data.data.armor}}"
                data-dtype="Number"/>
        </div>
    </div>
    <div class="sheet-tabs-container">
        <nav
            class="sheet-tabs tabs"
            data-group="primary">
            <span
                class="item"
                data-tab="description">Description</span>
        </nav>
    </div>

    {{editor content=data.data.description target="data.description" button=true owner=owner editable=editable}}
</form>
