<form class="cairn" autocomplete="off">
    <div class="item-sheet-grid armor">
        <!-- Portrait -->
        <div class="item-sheet-section-portrait">
            <img class="portrait" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
        </div>
        <!-- Name -->
        <div class="item-sheet-section-name">
            <input class="name-input" type="text" name="name" value="{{item.name}}" placeholder="{{ localize 'CAIRN.Name' }}" />
        </div>
        <!-- Equipped -->
        <div class="resource-counter long-counter">
            <label class="large-resource-label" for="data.equipped">{{ localize 'CAIRN.Equipped' }}</label>
            <div class="resource-input-wrapper">
                <input type="checkbox" {{checked data.data.equipped}} name="data.equipped" id="data.equipped"
                       value="{{data.data.equipped}}" data-dtype="Boolean" />
            </div>
        </div>
        <!-- Bulky -->
        <div class="resource-counter long-counter">
            <label class="large-resource-label" for="data.bulky">{{ localize 'CAIRN.Bulky' }}</label>
            <div class="resource-input-wrapper">
                <input type="checkbox" {{checked data.data.bulky}} name="data.bulky" id="data.bulky"
                       value="{{data.data.bulky}}" data-dtype="Boolean" />
            </div>
        </div>
        <!-- Weightless -->
        <div class="resource-counter long-counter">
            <label class="large-resource-label" for="data.weightless">{{ localize 'CAIRN.Weightless' }}</label>
            <div class="resource-input-wrapper">
                <input type="checkbox" {{checked data.data.weightless}} name="data.weightless" id="data.weightless"
                       value="{{data.data.equipped}}" data-dtype="Boolean" />
            </div>
        </div>
        <!-- Armor -->
        <div class="resource-counter long-counter">
            <label class="large-resource-label" for="data.armor">{{ localize 'CAIRN.Armor' }}</label>
            <div class="resource-input-wrapper">
                <input type="text" name="data.armor" id="data.armor"
                       value="{{data.data.armor}}" data-dtype="String" />
            </div>
        </div>
        <div class="item-sheet-section-tabs">
            <nav class="tabs" data-group="primary">
                <a class="item" data-group="primary" data-tab="description">{{ localize 'CAIRN.Description' }}</a>
            </nav>
            <section class="content">
                <div class="tab" data-group="primary" data-tab="description">
                    {{ editor content=data.data.description target="data.description" button=true owner=owner
                    editable=editable }}
                </div>
            </section>
        </div>
    </div>
</form>
