<form class="cairn" autocomplete="off">
    <div class="item-sheet-grid">
        <!-- Portrait -->
        <div class="item-sheet-section-portrait">
            <img class="portrait" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
        </div>
        <!-- Name -->
        <div class="item-sheet-section-name">
            <input class="name-input" type="text" name="name" value="{{item.name}}" placeholder="Name" />
        </div>
        <!-- Equipped -->
        <div class="resource-counter long-counter">
            <label class="large-resource-label" for="data.equipped">Equipped</label>
            <div class="resource-input-wrapper">
                <input type="checkbox" {{checked data.data.equipped}} name="data.equipped"
                    value="{{data.data.equipped}}" data-dtype="Boolean" />
            </div>
        </div>
        <!-- Blast -->
        <div class="resource-counter long-counter">
            <label class="large-resource-label" for="data.blast">Blast</label>
            <div class="resource-input-wrapper">
                <input type="checkbox" {{checked data.data.blast}} name="data.blast" value="{{data.data.blast}}"
                    data-dtype="Boolean" />
            </div>
        </div>
        <!-- Quantity -->
        <div class="resource-counter long-counter">
            <label class="large-resource-label" for="data.quantity">Quantity</label>
            <div class="resource-input-wrapper">
                <input type="text" name="data.quantity" value="{{data.data.quantity}}" data-dtype="Number" />
            </div>
        </div>
        <!-- Number of uses -->
        <div class="resource-counter long-counter">
            <label class="large-resource-label" for="data.numberOfUses"># of Uses</label>
            <div class="resource-input-wrapper">
                <input type="text" name="data.numberOfUses" value="{{data.data.numberOfUses}}" data-dtype="Number" />
            </div>
        </div>
        <!-- Slots -->
        <div class="resource-counter long-counter">
            <label class="large-resource-label" for="data.slots">Slots</label>
            <div class="resource-input-wrapper">
                <input type="text" name="data.slots" value="{{data.data.slots}}" placeholder=0 data-dtype="Number" />
            </div>
        </div>
        <!-- Armor -->
        <div class="resource-counter long-counter">
            <label class="large-resource-label" for="data.armor">Armor</label>
            <div class="resource-input-wrapper">
                <input type="text" name="data.armor" value="{{data.data.armor}}" data-dtype="Number" />
            </div>
        </div>
        <!-- Damage -->
        <div class="resource-counter long-counter">
            <label class="large-resource-label" for="data.damageFormula">Damage</label>
            <div class="resource-input-wrapper">
                <input type="text" name="data.damageFormula" value="{{data.data.damageFormula}}" data-dtype="String" />
            </div>
        </div>
        <!-- Critical Damage -->
        <div class="resource-counter long-counter">
            <label class="large-resource-label" for="data.criticalDamage">Crit. Dmg.</label>
            <div class="resource-input-wrapper">
                <input type="text" name="data.criticalDamage" value="{{data.data.criticalDamage}}"
                    data-dtype="String" />
            </div>
        </div>
        <div class="item-sheet-section-tabs">
            <nav class="tabs" data-group="primary">
                <a class="item" data-group="primary" data-tab="description">Description</a>
            </nav>
            <section class="content">
                <div class="tab" data-group="primary" data-tab="description">
                    {{ editor content=data.data.description target="data.description" button=true owner=owner
                    editable=editable }}
                </div>
            </section>
        </div>
    </div>
</form>