<form class="cairn" autocomplete="off">
    <div class="item-sheet-grid spellbook">
        <!-- Portrait -->
        <div class="item-sheet-section-portrait">
            <img class="portrait" src="{{data.img}}" data-edit="img" title="{{data.name}}" />
        </div>
        <!-- Name -->
        <div class="item-sheet-section-name">
            <input class="name-input" type="text" name="name" value="{{data.name}}" placeholder="{{ localize 'CAIRN.Name' }}" />
        </div>
        <!-- Equipped -->
        <div class="resource-counter long-counter">
            <label class="large-resource-label" for="system.equipped">{{ localize 'CAIRN.Equipped' }}</label>
            <div class="resource-input-wrapper">
                <input type="checkbox" {{checked data.system.equipped}} name="system.equipped" id="system.equipped"
                       value="{{data.system.equipped}}" data-dtype="Boolean" />
            </div>
        </div>
        <!-- Bulky -->
        <div class="resource-counter long-counter">
            <label class="large-resource-label" for="system.bulky">{{ localize 'CAIRN.Bulky' }}</label>
            <div class="resource-input-wrapper">
                <input type="checkbox" {{checked data.system.bulky}} name="system.bulky" id="system.bulky"
                       value="{{data.system.bulky}}" data-dtype="Boolean" />
            </div>
        </div>
        <!-- Weightless -->
        <div class="resource-counter long-counter">
            <label class="large-resource-label" for="system.weightless">{{ localize 'CAIRN.Weightless' }}</label>
            <div class="resource-input-wrapper">
                <input type="checkbox" {{checked data.system.weightless}} name="system.weightless" id="system.weightless"
                       value="{{data.system.equipped}}" data-dtype="Boolean" />
            </div>
        </div>
        <div class="item-sheet-section-tabs">
            <nav class="tabs" data-group="primary">
                <a class="item" data-group="primary" data-tab="description">{{ localize 'CAIRN.Description' }}</a>
            </nav>
            <section class="content">
                <div class="tab" data-group="primary" data-tab="description">
                    {{ editor data.system.description target="system.description" button=true owner=owner
                    editable=editable }}
                </div>
            </section>
        </div>
    </div>
</form>
