<form class="cairn" autocomplete="off">
    <div class="item-sheet-grid weapon">
        <!-- Portrait -->
        <div class="item-sheet-section-portrait">
            <img class="portrait" src="{{data.img}}" data-edit="img" title="{{data.name}}" />
        </div>
        <!-- Name -->
        <div class="item-sheet-section-name">
            <input class="name-input" type="text" name="name" value="{{data.name}}" placeholder="{{ localize 'CAIRN.Name' }}" />
        </div>
        <!-- Equipped -->
        <div class="resource-counter long-counter">
            <label class="large-resource-label" for="system.equipped">{{ localize 'CAIRN.Equipped' }}</label>
            <div class="resource-input-wrapper">
                <input type="checkbox" {{checked data.system.equipped}} name="system.equipped" id="system.equipped"
                       value="{{data.system.equipped}}" data-dtype="Boolean" />
            </div>
        </div>
        <!-- Bulky -->
        <div class="resource-counter long-counter">
            <label class="large-resource-label" for="system.bulky">{{ localize 'CAIRN.Bulky' }}</label>
            <div class="resource-input-wrapper">
                <input type="checkbox" {{checked data.system.bulky}} name="system.bulky" id="system.bulky"
                       value="{{data.system.bulky}}" data-dtype="Boolean" />
            </div>
        </div>
        <!-- Weightless -->
        <div class="resource-counter long-counter">
            <label class="large-resource-label" for="system.weightless">{{ localize 'CAIRN.Weightless' }}</label>
            <div class="resource-input-wrapper">
                <input type="checkbox" {{checked data.system.weightless}} name="system.weightless" id="system.weightless"
                       value="{{data.system.equipped}}" data-dtype="Boolean" />
            </div>
        </div>
        <!-- Blast -->
        <div class="resource-counter long-counter">
            <label class="large-resource-label" for="system.blast">{{ localize 'CAIRN.Blast' }}</label>
            <div class="resource-input-wrapper">
                <input type="checkbox" {{checked data.system.blast}} name="system.blast" id="system.blast"
                       value="{{data.system.blast}}" data-dtype="Boolean" />
            </div>
        </div>
        <!-- Damage -->
        <div class="resource-counter long-counter">
            <label class="large-resource-label" for="system.damageFormula">{{ localize 'CAIRN.Damage' }}</label>
            <div class="resource-input-wrapper">
                <input type="text" name="system.damageFormula" id="system.damageFormula"
                       value="{{data.system.damageFormula}}" data-dtype="String" />
            </div>
        </div>
        <!-- Critical Damage -->
        <div class="resource-counter long-counter crit-dmg">
            <label class="large-resource-label" for="system.criticalDamage">{{ localize 'CAIRN.CriticalDamage' }}</label>
            <div class="resource-input-wrapper">
                <input type="text" name="system.criticalDamage" id="system.criticalDamage"
                       value="{{data.system.criticalDamage}}"
                       data-dtype="String" />
            </div>
        </div>
        <!-- Number of uses -->
        <div class="resource-counter long-counter">
            <label class="large-resource-label" for="system.uses.value">{{ localize 'CAIRN.Uses' }}</label>
            <div class="resource-input-wrapper">
                <input type="text" name="system.uses.value" id="system.uses.value"
                        value="{{data.system.uses.value}}" data-dtype="Number" />
            </div>
        </div>
        <div class="resource-counter long-counter">
            <label class="large-resource-label" for="system.uses.max">{{ localize 'CAIRN.MaxUses' }}</label>
            <div class="resource-input-wrapper">
                <input type="text" name="system.uses.max" id="system.uses.max"
                      value="{{data.system.uses.max}}" data-dtype="Number" />
            </div>
        </div>

        <div class="item-sheet-section-tabs">
            <nav class="tabs" data-group="primary">
                <a class="item" data-group="primary" data-tab="description">{{ localize 'CAIRN.Description' }}</a>
            </nav>
            <section class="content">
                <div class="tab" data-group="primary" data-tab="description">
                    {{ editor data.system.description target="system.description" button=true owner=owner
                    editable=editable }}
                </div>
            </section>
        </div>
    </div>
</form>
