<div class="cairn-items-list-header">
    <div>{{ localize 'CAIRN.Name' }} <i>{{ localize 'CAIRN.BoldMeanEquipped' }}</i></div>
    <a class="item-control item-create" title="{{ localize 'CAIRN.CreateItem' }}" data-type="item"><i class="fas fa-plus"></i>&nbsp;{{ localize 'CAIRN.AddItem' }}</a>
</div>
{{#each actor.items as |item id|}}
<div class="cairn-items-list-row" data-item-id="{{item.id}}">
    <div class="cairn-items-list-row-header">
        <div class="cairn-item-name-and-tags">
            {{#if item.data.data.equipped}}
            <i class="fas fa-hand-paper"></i>
            {{/if}}
            <a class="cairn-item-title">
                {{item.data.data.quantity}} {{#boldIf
                item.data.data.equipped}}{{item.name}}{{/boldIf}}
            </a>
            {{#if item.data.data.blast}}
            <div class="cairn-item-tag">{{ localize 'CAIRN.Blast' }}</div>
            {{/if}}
            {{#if item.data.data.armor}}
            <span class="cairn-item-tag">{{ localize 'CAIRN.Armor' }} {{item.data.data.armor}}</span>
            {{/if}}
            {{#if item.data.data.damageFormula}}
            <div class="cairn-item-tag">{{item.data.data.damageFormula}} {{ localize 'CAIRN.Damage' }}</div>
            {{/if}}
            {{#if item.data.data.bulky}}
            <div class="cairn-item-tag">{{ localize 'CAIRN.Bulky' }}</div>
            {{/if}}
            {{#if item.data.data.criticalDamage}}
            <div class="cairn-item-tag">{{ localize 'CAIRN.CriticalDamage' }}</div>
            {{/if}}
        </div>
        <div class="cairn-item-controls">
            {{#if item.data.data.equipped}}
            {{#if item.data.data.damageFormula}}
            <a class="roll-control" data-label="damage with {{item.name}}" data-roll="{{item.data.data.damageFormula}}"
                title="{{ localize 'CAIRN.RollDamage' }}">
                <i class="fas fa-dice-d20"></i>
            </a>
            {{/if}}
            {{/if}}
            <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
        </div>
    </div>
</div>
{{/each}}
